:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --all-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --contacts-bottom-color: #8f8f94;
  --footer-background-color: #2f303a;
  --our-team-color: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  /* letter-spacing: 0.02em;
  letter-spacing: 0.06em; */
}

/* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.button-studio {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  /* margin-top: 30px; */
}

.btn-portfolio {
  color: var(--title-text-color);
  background-color: var(--our-team-color);
  padding: 6px 22px;
}

.btn-portfolio:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn-list {
  padding-top: 94px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-list .item + .item {
  margin-left: 8px;
}

.section-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo .logo-blue {
  color: var(--accent-color);
}

.logo .logo-black {
  color: var(--primary-black-color);
}

.logo .logo-white {
  color: var(--primary-white-color);
}

.banner-section {
  background-color: var(--footer-background-color);
  background-image: url(../../images/hero/mobile/hero.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner-section {
    background-image: url(../../images/hero/mobile/hero@2x.jpg);
  }
}

.banner-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.engage-section-icon {
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
}

.engage-item + .engage-item {
  margin-top: 30px;
}

.engage-vector-icon {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.engage-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.engage-text {
  color: var(--all-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 100%;
}

.our-squad {
  background-color: var(--our-team-color);
  width: 100%;
}

.our-team__item {
  width: 450px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item + .our-team__item {
  margin-top: 30px;
}

.team-section-bottom {
  padding-top: 30px;
  padding-bottom: 24px;
}

.our-team__img {
  max-width: 450px;
  height: 460px;
}

.full-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.profession-team {
  color: var(--all-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-link-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--primary-white-color);
}

.regular-client-section {
  padding-bottom: 30px;
}

.regular-client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-client-item {
  margin-top: 30px;
  margin-left: 30px;
}

.regular-client-link {
  display: flex;
  border: 1px solid #afb1b8;
  min-width: 170px;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-link:hover, .regular-client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.regular-client-icon {
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-link:hover .regular-client-icon,
.regular-client-link:focus .regular-client-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
}

.footer-address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-section {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-address-text {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8px;
}

.footer-address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.social-link-footer-section {
  padding-bottom: 60px;
}

.title-footer-social {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-bottom: 20px;
}

.social-link-list-footer {
  display: flex;
}

.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-link-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer-form-section-input {
  display: flex;
  flex-direction: column;
}

.footer-form-input {
  width: 450px;
  padding: 13px 29px;
  margin-bottom: 20px;
  background-color: inherit;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-img-tw {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 13px 29px;
  margin-left: 12px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  margin: 0 auto;
}

.footer-input-tw {
  display: block;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */