.banner-section {
  background-color: var(--footer-background-color);
  background-image: url(../../images/hero/mobile/hero.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../../images/hero/mobile/hero@2x.jpg);
    }
  }
}

.banner-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .banner-section {
    background-image: url(../../images/hero/tablet/hero.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../../images/hero/tablet/hero@2x.jpg);
      }
    }
  }
}

@media (min-width: 1200px) {
  .banner-section {
    background-image: url(../../images/hero/desktop/hero.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../../images/hero/desktop/hero@2x.jpg);
      }
    }
  }
}

// .banner-section {
//   background-color: var(--footer-background-color);
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/hero/hero.jpg");
//   margin: 0 auto;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   max-width: 1600px;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .banner-title {
//   color: var(--primary-white-color);
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;

//   align-items: center;
//   margin: 0;
//   margin-bottom: 30px;
// }
