.our-squad {
  background-color: var(--our-team-color);
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  width: 100%;
  &__item {
    max-width: 100%;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

.our-team__img {
  width: 100%;
  height: auto;
}

.team-section-bottom {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 24px;
}

.full-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 10px;
}

.profession-team {
  color: var(--all-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .our-team__item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .our-team__item {
    width: calc(100% / 4 - 30px);
  }
}
// .our-squad,
// .our-team {
//   background-color: var(--our-team-color);
// }
// .our-squad-container {
//   padding-bottom: 94px;
// }
// .our-team {
//   display: flex;
//   margin-top: 50px;
// }
// .our-team .item {
//   background: var(--primary-white-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .our-team .item + .item {
//   margin-left: 30px;
// }

// .team-section-bottom {
//   padding: 30px 32px;
// }
// .full-name-title {
//   color: var(--title-text-color);
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   margin-bottom: 10px;
// }
// .profession-team {
//   color: var(--all-text-color);
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   margin-bottom: 16px;
// }
