// Header Portfolio border bottom

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

/* Our work section */

.best-work {
  display: flex;
  flex-wrap: wrap;

  padding-top: 40px;
  padding-bottom: 94px;

  margin-left: -30px;
  margin-top: -30px;
}

.best-work__img {
  max-width: 100%;
  height: auto;
}

.container-title-text {
  width: 100%;
  // max-width: 370px;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}
.best-work-item {
  // width: calc(100% / 3 - 30px);
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;
}
/* .best-work .item:nth-child(3n) {
  margin-right: 0;
}
.best-work .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.best-work-link {
  width: 100%;
}
.best-work-link:hover,
.best-work-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-work-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.our-work-text {
  color: var(--all-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.pop-up-window-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.pop-up-window {
  position: absolute;
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 64px 24px;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);

  .best-work-item:hover & {
    transform: translateY(-100%);
  }
}

@media (min-width: 768px) {
  .best-work-item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: 1200px) {
  .best-work-item {
    width: calc(100% / 3 - 30px);
  }
}
