.regular-client-section {
  padding-bottom: 30px;
}
.regular-client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &-item {
    // width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  &-link {
    display: flex;
    border: 1px solid #afb1b8;
    min-width: 170px;
    min-height: 90px;
    justify-content: center;
    align-items: center;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }

  &-icon {
    fill: #afb1b8;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .regular-client-link:hover &,
    .regular-client-link:focus & {
      fill: var(--accent-color);
    }
  }
}
